# Ignore build output
build/

# Ignore node modules
node_modules/

# Ignore environment variables
.env*

# Ignore log files
*.log

# Ignore VS Code settings
.vscode/


# Ignore javascript configuration files
jsconfig.json
