// ***
// Borders

// Border radius
.rounded-50 {
  border-radius: 50%;
}

// Border color
.border-blue {
  border-color: $secondary !important;
}

.border-gray-30 {
  border-color: $gray-30 !important;
}

// ***
