@import 'normalize.css';
@import 'variables';
@import '~/node_modules/bootstrap/scss/bootstrap';
@import 'box-model';
@import 'color-format';
@import 'background';
@import 'common';
@import 'flexbox';
@import 'grid.scss';
@import 'hover.scss';
@import 'text-format.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

:root {
  // Colors
  --primary-color: #fe3464;
  --primary-hover-color: #d42a53;
  --secondary-color: #0065ee;
  --secondary-hover-color: #015ddf;
  --text-color: #0e0e0e;
  --white-color: #fff;
  --gray-color: #ccc;
  --blue-hover-color: #0065ee;
  --gray-hover-color: #ecf0f4;

  // Sizes
  --header-height: 74px;
  --header-items-height: 42px;
  --nav-height: 60px;
  --default-width: 1160px;
  --nav-image-size: 52px;
  --side-left-width: 284px;

  // Format
  --border-radius: 16px;

  // Page detail
  --detail-main-width: 670px;
  --detail-main-space: 40px;

  @media only screen and (max-width: 767px) {
    --header-height: 60px;
    --header-items-height: 36px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  color: #0e0e0e;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
  // background-color: white;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color);

  &:hover {
    color: unset;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

h2 {
  font-size: 22px;
  font-weight: 800;
  line-height: normal;
}

h3 {
  font-size: 19px;
  font-weight: 800;
  line-height: 150%;
}

img {
  transition: opacity 0.3s;
}

// Tippybox
body .tippy-box {
  background-color: rgba(14, 14, 14, 0.75);
  border-radius: 8px;
  font-family: 'Nuntino Sans', sans-serif;
  line-height: 140%;
  font-weight: 600;
}
