.container {
  $border-radius: 8px;
  $padding: 8px;
  $font-size: 14px;
  $box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);

  &.small {
    $border-radius: 4px;
    $padding: 4px;
    $font-size: 12px;
  }
  &.large {
    $border-radius: 16px;
    $padding: 16px;
    $font-size: 16px;
  }
  background-color: var(--white-color);
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  color: var(--text-color);
  padding: $padding;
}
