.product {
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

.images {
  overflow: hidden;
  position: relative;
  &:hover .images-controls {
    opacity: 1;
    visibility: unset;
  }
  .my-swiper-pagination-bullet {
    background-color: rgba(14, 14, 14, 1);
    opacity: 0.1;
    transform: scale(0.6);
    &.active {
      opacity: 0.4;
      transform: scale(0.8);
    }
  }
}

.image-slide {
  width: 230px;
  height: 230px;
  opacity: 0.2;
  transition: opacity ease 0.2s;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.images-controls {
  bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  position: absolute;
  right: 2px;
  top: 0px;
  transition: opacity ease-in-out 0.2s;
  visibility: hidden;
  z-index: 10;
}

.add-to-cart {
  color: var(--primary-color);
}

.btn-control {
  background-color: #f8fafc;
}

// Promotions
.promotions {
  border-top: 1px solid var(--gray-hover-color);
  margin-top: 8px;
  padding-top: 8px;
}
