.user-info {
  display: flex;
  align-items: center;
  padding: 12px 0;

  img {
    width: 48px;
    height: 48px;
    border-radius: 999px;
    margin-right: 16px;
  }
}

.sidebar-menu {
  &-item {
    span {
      font-size: 17px;
    }
  }

  a.active {
    button {
      background: #ecf0f4;
      span {
        font-weight: bold;
      }
    }
  }
}
